body{
    background-color: beige;
    margin-top: 2px;
    font-family: 'Kantumruy Pro', sans-serif;
}
/*Tabla*/

.grid-1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: [y0] 0.1fr [y1]1.1fr [y2] 1fr [y3] 0.1fr [y4]0.2fr [y5];

}

/*ENCABEZADO*/
.encabezado-d{
    grid-template-rows: y0/y1;
    text-align: end;
    padding: 3px;
    margin-bottom: 6px;
}


.busca{
     letter-spacing: 2px;
     text-align: center;
     height: 23px;
     

     padding: 5px;
     border: 2px solid rgb(158, 158, 123);
     border-radius: 10px;
     margin-right: 15px;

}

.buscador{
    margin-left: 2px;
    cursor: pointer;
    font-size: 140%;
    padding: 10px;
}

.carrito{
    margin-left: 30px;
    cursor: pointer;
    font-size: 140%;
    padding: 10px;
    margin-right: 10px;
}

.encabezado-s a{
    color: black;
    list-style: none;
    text-decoration: none;
}


/*PRESENTACION*/
.presentacion-d{
    height:90vh;
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size:cover;
    grid-template-rows: y1/y2;
    padding: 20px;
    
}
.presentacion-s{
    display: grid;
    height: 100%;

  

    font-size: 215%;
    font-weight: 800;
    font-family:  'Kantumruy Pro', sans-serif;

    text-align: center;   
    align-items: center;
}


/*TITULO Y DESCRIPCION*/
h1{
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 270%;
    letter-spacing: 2px;
    text-align: center;
}

.descripcion{
    
    font-size: 160%;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;

}




/*SERVICIOS*/
.servicios-d{
    height:90vh;
    background-color: rgb(199, 180, 164);
    text-align: center;
    grid-template-rows: y2/y3;
    
}
.servicios-d:hover{
    
   background-color: rgba(216, 216, 212, 0.705);
   transition: 3s ease;

}

/*TITULO*/
.serviciosTitulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
    padding: 5%;
    font-size: 210%;

    cursor: pointer;

    margin-top: 30px;
}
.serviciosTitulo h2{
    font-weight: 800;
    letter-spacing: 2px;
}
.serviciosTitulo a{
    cursor: pointer;
    font-family:  'Kantumruy Pro', sans-serif;

    text-decoration:none;
    color: black;
}

.serviciosTitulo a:hover{
     color:rgb(55, 149, 203);
}

/*REBAJAS*/
.neon a{
    
    text-decoration: none;
    color: black;
}
.rebajas{
    grid-row: y3/y4;
    height: 10vh;
    margin-top: 15px;

    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size:cover;

    letter-spacing: 8px;
    
    cursor: pointer;
    align-items: center;
    text-align: center;
}
.neon{
    text-shadow: 0 0 5px red,0 0 15px red,0 0 30px red,0 0 50px red
}
.rebajas:hover{
   transition: .2s ease;
   font-size: 110%;
   padding: 10px;

}

/*CONTACTO*/
.contacto-d{
    grid-row: y4/y5;
    height: 30vh;
    
    margin-top: 15px;
    background-color: rgb(199, 180, 164);

}

.contacto-s{
    display: grid;

    padding: 10px;
    height: 100%;
    
    grid-template-columns:[x0] 1fr [x1]1fr [x2] 1fr [x3]1fr [x4];
    grid-template-rows: [y0] 1fr [y1]1fr [y2] 1fr [y3];

    font-size: 130%;
    font-weight:bolder;

    
    text-align: center;   
    align-items: center;
}

.contacto{
    grid-column: x0/x4;
    grid-row: y0/y1;
    font-size: 160%;
    
}

.iconos{
    font-size: 140%;
    cursor: pointer;
}
.iconos:hover{
    background-color: rgb(153, 172, 207);
    transition: .2s ease;

}

/*****************************************/
/*LOGIN-COMPRAS*/
.bodyUsuario{
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size:cover;
}
.grid1{ 
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-align: center;

}
.iconoCompras{
    width: 50vw;
    height: 50vh;

   justify-content: space-between;
   align-items: center;
   text-align: center;
    
}

.carroCompras{
   
    width: 70%;
    height: auto;
    border: 1px dashed grey;
    border-radius: 20px;
    text-align: center;
}
.tituloCompras{
    text-align: center;
    font-size: 200%;
    font-family: 'Montserrat Subrayada', sans-serif;

    margin: 0%;
    margin-bottom: 10px;
}
.formulario{   
    display: flex;
    justify-content: center;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    padding: 0px;

    margin-top: 5%;
    margin-right: 5%;

    width: 50%;
    height: 50vh;
}


.parrafoCompras{
  
    font-size: 120% ;
    align-self: start;


    margin-top: 30%;
}


.inputFormulario{
    width: 70%;
    padding: 5px;
    margin-top: 5%;

    border: 2px solid grey;
    border-radius: 30px;

    outline: 0 none;
    letter-spacing: 1px;

    
}
.inputFormulario:focus{
    border: 4px solid rgb(153, 172, 207) ;
}



.boton{
    width: 25%;
    height: 70%;
    padding: 6px;
    margin-top: 5%;

    color: black;
    font-family: 'Kantumruy Pro', sans-serif;
    font-size: 115%;

    
    background-color: rgb(153, 172, 207);
    color:black;
    border: 1px solid grey;
    border-radius: 20px;

}

.boton:hover{
    transition: 1s ease;

    background-color: rgb(12, 37, 83);
    color: white;
    border: 1px solid black;
}
/*clases importantes*/
.quitar{
    display: none;
}

.mostrar{
    display: block ;
}

/*NO ES RESPONSIVE :(*/